@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  80% {
    transform: translateY(0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    transform: translateY(-0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.2;
  color: #313131;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #313131; }

.header {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 1rem 5rem;
  z-index: 100; }

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header__nav-logo {
    width: 4rem;
    height: 4rem; }
  .header__nav-list {
    display: flex; }
    .header__nav-list li {
      list-style-type: none;
      padding: 0 2.5rem;
      font-size: 1.4rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
      border-left: 1px solid black; }
      .header__nav-list li a {
        color: black;
        text-decoration: none; }
        .header__nav-list li a:hover {
          width: 200px;
          color: white;
          padding: 1rem;
          background-image: linear-gradient(30deg, white 10%, black 10%, black 90%, white 90%); }
      .header__nav-list li:last-child {
        border-right: 1px solid black; }

.footer {
  text-align: center; }
  .footer .material-icons {
    position: relative;
    top: -2rem;
    font-size: 4rem;
    color: #fff;
    background-color: #e2199f; }
  .footer-text {
    margin: 5rem auto;
    font-size: 1.4rem;
    color: #313131; }

.contact {
  padding: 5rem 0;
  background-color: #f5f5f5; }

.contact__title {
  margin: 0 auto 5rem;
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase; }
  .contact__title::after {
    content: "";
    display: block;
    position: relative;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    height: 0.3rem;
    width: 6rem;
    background-color: #000; }

.contact__main {
  color: #313131; }

.contact__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  max-width: 70rem;
  margin: 0 auto;
  font-size: 1.4rem; }
  .contact__form--top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .contact__form--group {
    display: flex;
    flex-direction: column;
    width: 40%; }
    .contact__form--group label {
      margin-bottom: 1rem; }
    .contact__form--group input {
      height: 3rem;
      border: 1px solid white;
      border-radius: 0.5rem; }
  .contact__form--bottom {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%; }
    .contact__form--bottom label {
      margin-bottom: 1rem; }
    .contact__form--bottom textarea {
      font-family: Arial, Helvetica, sans-serif;
      border: 1px solid #fff;
      border-radius: 0.5rem; }
  .contact__form button {
    margin-top: 4rem;
    width: 18rem;
    height: 5rem;
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 10rem;
    text-transform: uppercase;
    letter-spacing: .2rem; }
    .contact__form button:hover {
      cursor: pointer;
      transform: translateY(-0.5rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .contact__form button:active {
      transform: translateY(-0.3rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

input:focus,
textarea:focus {
  outline: none; }

@media screen and (max-width: 600px) {
  .contact__form--top {
    display: flex;
    flex-direction: column; }
  .contact__form--group {
    width: 100%;
    margin-bottom: 2rem; } }

.intro {
  margin: 5rem 0;
  padding: 0 5rem 10rem;
  background-color: #f5f5f5;
  border-radius: 0 0 100% 100% / 30%; }

.intro__title {
  padding-top: 5rem;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center; }
  .intro__title span {
    display: inline-block;
    padding: 2rem 0;
    font-size: 2.5rem; }
  .intro__title--top {
    animation: moveInLeft 1s ease-out; }
  .intro__title--middle {
    animation: moveInBottom 1s ease-out 1s backwards; }
  .intro__title--bottom {
    animation: moveInRight 1s ease-out 2s backwards; }

.blog {
  margin: 5rem 0; }

.blog__title {
  margin: 0 auto 5rem;
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase; }
  .blog__title::after {
    content: "";
    display: block;
    position: relative;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    height: 0.3rem;
    width: 6rem;
    background-color: #000; }

.blog__main--cards {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .blog__main--cards .card {
    list-style-type: none;
    box-sizing: border-box;
    width: 75%;
    max-width: 70rem;
    margin-bottom: 4rem;
    padding: 1rem;
    color: white;
    background-image: linear-gradient(30deg, white 10%, black 10%, black 90%, white 90%);
    border-radius: 0.6rem; }
    .blog__main--cards .card__content {
      transform: rotateY(-30deg);
      display: flex;
      flex-direction: column; }
      .blog__main--cards .card__content--title {
        font-size: 2rem;
        font-weight: bold; }
      .blog__main--cards .card__content--desc {
        margin: 2rem auto 2.5rem;
        width: 100%;
        font-size: 1.2rem;
        overflow-wrap: break-word; }

.profile {
  position: relative;
  padding: 5rem;
  background-color: #f5f5f5; }

.profile__title {
  margin: 0 auto 5rem;
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase; }
  .profile__title::after {
    content: "";
    display: block;
    position: relative;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    height: 0.3rem;
    width: 6rem;
    background-color: #000; }

.profile__main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.profile__main--image {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-image: radial-gradient(circle, white, black);
  margin: 0 5rem 3rem;
  text-indent: 9999px; }

.profile__main--desc {
  box-sizing: border-box;
  width: 50%;
  min-height: 20rem;
  color: black;
  background-color: white;
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.projects {
  position: relative;
  margin: 5rem 0; }

.project__title {
  margin: 0 auto 5rem;
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase; }
  .project__title::after {
    content: "";
    display: block;
    position: relative;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    height: 0.3rem;
    width: 6rem;
    background-color: #000; }

.project__main .project__cards {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .project__main .project__cards .break {
    flex-basis: 100%;
    height: 0; }
  .project__main .project__cards .card {
    list-style-type: none;
    box-sizing: border-box;
    width: 32rem;
    height: 32rem;
    text-align: center; }
    .project__main .project__cards .card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 1s;
      transform-style: preserve-3d; }
    .project__main .project__cards .card:hover .card-inner {
      transform: rotateY(180deg); }
    .project__main .project__cards .card-front, .project__main .project__cards .card-back {
      position: absolute;
      padding: 3rem;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .project__main .project__cards .card-front {
      justify-content: center;
      text-indent: -999rem; }
      .project__main .project__cards .card-front.first {
        background-image: linear-gradient(to right bottom, rgba(165, 165, 165, 0.1), rgba(95, 95, 95, 0.1)), url(../../img/linepockeo.png);
        background-position: center;
        background-size: 50rem;
        background-repeat: no-repeat; }
      .project__main .project__cards .card-front.second {
        background-image: radial-gradient(circle at left center, rgba(255, 255, 255, 0.7), rgba(92, 92, 92, 0.8)), url(../../img/earlywage.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
      .project__main .project__cards .card-front.third {
        background-image: linear-gradient(to right bottom, rgba(165, 165, 165, 0.2), rgba(95, 95, 95, 0.2)), url(../../img/portfolio.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
      .project__main .project__cards .card-front.fourth {
        background-image: radial-gradient(rgba(255, 255, 255, 0.7), rgba(92, 92, 92, 0.8)), url(../../img/studying.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
    .project__main .project__cards .card-back {
      background-color: #f5f5f5;
      transform: rotateY(180deg); }
      .project__main .project__cards .card-back--title {
        margin-top: 8rem;
        line-height: 2.6rem;
        font-size: 1.8rem;
        font-weight: 700; }
      .project__main .project__cards .card-back--desc {
        margin-bottom: 6rem;
        color: #e2199f;
        font-size: 1.6rem; }
      .project__main .project__cards .card-back--footer {
        font-size: 1.6rem;
        letter-spacing: 1.3px;
        border: 1px solid #e2199f;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase; }
        .project__main .project__cards .card-back--footer a {
          padding: 1rem 1.5rem;
          color: #313131;
          text-decoration: none; }
        .project__main .project__cards .card-back--footer :hover {
          padding: 1rem 1.5rem;
          color: white;
          background-color: #e2199f;
          display: flex;
          align-items: center;
          justify-content: center; }
