.footer {
	text-align: center;

	.material-icons {
		position: relative;
		top: -2rem;
		font-size: 4rem;
		color: $color-white;
		background-color: $color-pink;
	}

	&-text {
		margin: 5rem auto;
		font-size: 1.4rem;
		color: $color-grey-dark;
	}
}
