.card {
	perspective: 150rem;
	position: relative;
	height: 32rem;
	width: 32rem;	

	&__side {
		height: 32rem;
		transition: all .8s ease;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		overflow: hidden;

		&--front {
			background-color: $color-white;
		}

		&--back {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: $color-grey-light;
			transform: rotateY(180deg);
		}
	}

	&:hover &__side--front {
		transform: rotateY(-180deg);
	}

	&:hover &__side--back {
		transform: rotateY(0);
	}

	&__picture {
		height: 100%;
		background-color: $color-white;
		text-indent: -9999rem;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		&-1 {
			background-image: linear-gradient(
					to right bottom,
					rgba(165, 165, 165, 0.1),
					rgba(95, 95, 95, 0.1)
				),
				url(../img/linepockeo.png);
		}

		&-2 {
			background-image: radial-gradient(
					circle at left center,
					rgba(255, 255, 255, 0.7),
					rgba(92, 92, 92, 0.8)
				),
				url(../img/earlywage.jpg);
		}

		&-3 {
			order: 1;
			background-image: linear-gradient(
					to right bottom,
					rgba(165, 165, 165, 0.2),
					rgba(95, 95, 95, 0.2)
				),
				url(../img/portfolio.png);
		}

		&-4 {
			order: 1;
			background-image: radial-gradient(
					rgba(255, 255, 255, 0.7),
					rgba(92, 92, 92, 0.8)
				),
				url(../img/studying.jpg);
		}
	}

	&__title {
		margin-top: 8rem;
		line-height: 2.6rem;
		font-size: 1.8rem;
		font-weight: 700;
	}

	&__desc {
		margin-bottom: 6rem;
		color: $color-pink;
		font-size: $default-font-size;
	}

	&__footer {
		font-size: $default-font-size;
		letter-spacing: 1.3px;
		border: 1px solid $color-pink;
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;

		a {
			padding: 1rem 1.5rem;
			color: $color-grey-dark;
			text-decoration: none;
		}

		:hover {
			padding: 1rem 1.5rem;
			color: $color-white;
			background-color: $color-pink;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}