.contact__form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 75%;
	max-width: 70rem;
	margin: 0 auto;
	font-size: 1.4rem;

	&--top {
		width: 100%;
		display: flex;
		align-items: center;
        justify-content: space-between;
        
        @include respond(phone) {
            display: flex;
			flex-direction: column;
        }
	}

	&--group {
		display: flex;
		flex-direction: column;
        width: 40%;
        
        @include respond(phone) {
            width: 100%;
			margin-bottom: 2rem;
        }

		label {
			margin-bottom: 1rem;
		}

		input {
			height: 3rem;
			border: 1px solid $color-white;
			border-radius: 0.5rem;
		}
	}

	&--bottom {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		width: 100%;

		label {
			margin-bottom: 1rem;
		}

		textarea {
			font-family: Arial, Helvetica, sans-serif;
			border: 1px solid $color-white;
			border-radius: 0.5rem;
		}
	}

	button {
		margin-top: 4rem;
		width: 18rem;
		height: 5rem;
		color: $color-white;
		background-color: #000;
		border: 1px solid #000;
		border-radius: 10rem;
		text-transform: uppercase;
		letter-spacing: .2rem;

		&:hover {
			cursor: pointer;
			transform: translateY(-.5rem);
			box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
		}

		&:active {
			transform: translateY(-.3rem);
			box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
		}
	}
}

input:focus,
textarea:focus {
	outline: none;
}