.intro {
	margin: 5rem 0;
	padding: 0 5rem 10rem;
	background-color: $background-color;
	border-radius: 0 0 100% 100% / 30%;
}

.intro__title {
	padding-top: 5rem;
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: 3px;
	text-align: center;

	span {
		display: inline-block;
		padding: 2rem 0;
		font-size: 2.5rem;
	}

	&--top {
		animation: moveInLeft 1s ease-out;
	}

	&--middle {
		animation: moveInBottom 1s ease-out 1s backwards;
	}

	&--bottom {
		animation: moveInRight 1s ease-out 2s backwards;
	}
}