.projects {
	position: relative;
	margin: 5rem 0;
}

.project__title {
	margin: 0 auto 5rem;
	font-size: 3.2rem;
	font-weight: bold;
	text-align: center;
	letter-spacing: 0.2rem;
	text-transform: uppercase;

	&::after {
		content: "";
		display: block;
		position: relative;
		top: 1rem;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		height: 0.3rem;
		width: 6rem;
		background-color: #000;
	}
}

.project__main {
	.project__cards {
		padding: 0 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		.break {
			flex-basis: 100%;
			height: 0;
		}

		.card {
			list-style-type: none;
			box-sizing: border-box;
			width: 32rem;
			height: 32rem;
			text-align: center;

			&-inner {
				position: relative;
				width: 100%;
				height: 100%;
				transition: transform 1s;
				transform-style: preserve-3d;
			}

			&:hover {
				.card-inner {
					transform: rotateY(180deg);
				}
			}

			&-front,
			&-back {
				position: absolute;
				padding: 3rem;
				width: 100%;
				height: 100%;
				backface-visibility: hidden;
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			&-front {
				justify-content: center;
				text-indent: -999rem;
			}

			&:first-of-type {
				.card-front {
					background-image: linear-gradient(
							to right bottom,
							rgba(165, 165, 165, 0.1),
							rgba(95, 95, 95, 0.1)
						),
						url(../img/linepockeo.png);
					background-position: center;
					background-size: 50rem;
					background-repeat: no-repeat;
				}
			}

			&:nth-of-type(2) {
				.card-front {
					background-image: radial-gradient(
							circle at left center,
							rgba(255, 255, 255, 0.7),
							rgba(92, 92, 92, 0.8)
						),
						url(../img/earlywage.jpg);
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
				}
			}

			&:nth-of-type(4) {
				.card-front {
					background-image: linear-gradient(
							to right bottom,
							rgba(165, 165, 165, 0.2),
							rgba(95, 95, 95, 0.2)
						),
						url(../img/portfolio.png);
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
				}
			}

			&:nth-of-type(5) {
				.card-front {
					background-image: radial-gradient(
							rgba(255, 255, 255, 0.7),
							rgba(92, 92, 92, 0.8)
						),
						url(../img/studying.jpg);
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
				}
			}

			&-back {
				background-color: $background-color;
				transform: rotateY(180deg);

				&--title {
					margin-top: 8rem;
					line-height: 2.6rem;
					font-size: 1.8rem;
					font-weight: 700;
				}

				&--desc {
					margin-bottom: 6rem;
					color: #e2199f;
					font-size: 1.6rem;
				}

				&--footer {
					font-size: 1.6rem;
					letter-spacing: 1.3px;
					border: 1px solid #e2199f;
					display: flex;
					align-items: center;
					justify-content: center;
					text-transform: uppercase;

					a {
						padding: 1rem 1.5rem;
						color: $font-color;
						text-decoration: none;
					}

					:hover {
						padding: 1rem 1.5rem;
						color: white;
						background-color: #e2199f;
						display: flex;
						align-items: center;
						justify-content: center;
					}
				}
			}
		}
	}
}
