.profile {
	position: relative;
	padding: 5rem;
	background-color: black;
}

.profile__title {
	width: 25rem;
	height: 5rem;
	border: 3px solid white;
	border-radius: 15% / 100%;
	text-align: center;
	margin: 0 auto 5rem;
	font-size: 3.2rem;
	font-weight: bold;
	color: white;
}

.profile__main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.profile__main--image {
	width: 15rem;
	height: 15rem;
	border-radius: 50%;
	background-image: radial-gradient(circle, white, black);
	margin: 0 5rem 3rem;
	text-indent: 9999px;
}

.profile__main--desc {
	box-sizing: border-box;
	width: 50%;
	min-height: 20rem;
	color: black;
	background-color: white;
	border-radius: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
