.blog__main {
	&--cards {
		display: flex;
		flex-direction: column;
		align-items: center;

		.card {
			list-style-type: none;
			box-sizing: border-box;
			width: 75%;
			max-width: 70rem;
			margin-bottom: 4rem;
			padding: 1rem;
			color: $color-white;
			background-image: linear-gradient(
				30deg,
				$color-white 10%,
				rgba($color-black, 0.8) 10%,
				rgba($color-black, 0.8) 90%,
				$color-white 90%
			);
			border-radius: 0.6rem;

			&__content {
				transform: rotateY(-30deg);
				display: flex;
				flex-direction: column;

				&--title {
					font-size: 2rem;
					font-weight: bold;

					.material-icons {
						vertical-align: text-bottom;
						margin-right: .3rem;
					}
				}

				&--desc {
					margin: 2rem auto 2.5rem;
					width: 100%;
					font-size: 1.2rem;
					overflow-wrap: break-word;
				}
			}
		}
	}
}
